* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#wrapper {
    background-color: rgb(249, 206, 56);
    min-height: 100vh;
    height: fit-content;
}

.main-container {
    width: min-content;
    height: fit-content;
    background-color: white;
    margin: 0px auto;
}

#header { 
    margin-bottom: -3px; 
}

.titre {
    text-align: center;
    color: white;
    background-color: rgb(86, 144, 202);
    padding: 0.3em;
    margin: 0px auto;
    font-size: 2em;
    border-bottom: 1px solid white;
}

.element {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0.5em;
    max-width: fit-content;
}

.canape {
    width: 100%;
}

h2 { 
    font-size: 0.99em; 
}

p { 
    font-size: 0.7em; 
    text-align: justify; 
}

h1 { 
    color: rgb(249, 206, 56); 
    margin-top: 0.5em; 
    margin-bottom: 0.5em; 
}

nav { 
    max-width: 100%; 
    background-color: rgb(86, 144, 202); 
    color: white; 
    padding: 1.3em; 
    margin-bottom: 3px; 
    border-bottom: 2px dashed white; 
}

ul { 
    display: flex; 
    justify-content: space-evenly; 
    padding: 0px; 
    text-align: center; 
    font-size: 0.78em; 
    line-height: 0.5em; 
}

li { 
    list-style-type: none; 
    line-height: 1.5em; 
}

a { 
    color: white; 
    text-decoration: none; 
}

.description {
    height: fit-content;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.matt { 
    width: 130px; 
    border: 1px solid white; 
    margin: 0px auto; 
}

.infosmatt {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid rgb(86, 144, 202);
    background-color: rgb(86, 144, 202);
    color: white;
    height: fit-content;
    padding: 0.3em;
    position: relative;
}

.titrematt { 
    margin-top: 0px; 
    margin-bottom: -4px; 
    text-align: center; 
    padding: 0.2em; 
}

.poste { 
    text-align: center; 
    margin-bottom: 11px; 
}

.descriptionmatt { 
    padding: 0.5em; 
    margin: 0.13em; 
    width: 163px; 
}

.test {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

.imgfilm { 
    width: 186px;
}

.film {
    display: inline-flex;
    height: 206px;
    width: 188px;
    overflow: hidden;
    border: 1px solid black;
    margin: .2em;
}

footer {
    background-color: rgb(43, 88, 154);
    color: white;
    text-align: center;
    padding: 0.2em;
    font-size: 1.3em;
}
@media only screen and (max-width: 700px) {
  #wrapper {
     background-color: white; 
}

  .element { 
    display: inline-block; 
}

  nav {
    background-color: rgb(86, 144, 202);
    color: white;
}

  .main-container { 
    width: fit-content; 
    height: 50rem; 
    background-color: white; 
    margin: 0px auto; 
}

  .infosmatt {
    border: 1px solid rgb(86, 144, 202);
    background-color: rgb(86, 144, 202);
    color: white;
    height: fit-content;
}

  .matt {
    width: 100px;
    border: 1px solid white;
    position: relative;
    margin: 0 auto;
}

  .descriptionmatt { 
    padding: 0.5em; 
    margin: 0.13em; 
    width: 97%; 
    text-align: justify; 
}

  .description {
    height: fit-content;
}

  .film {
    display: inline-block;
    border: 1px solid grey;
    height: 229px;
    width: 200px;
    overflow: hidden;
    margin-top: 18px;
}

}
@media only screen and (max-width: 500px) {
  .main-container { 
    width: 100%; 
}
  nav { 
    width: 93%; 
    font-size: 76%; 
}
  .film { 
    display: inline-block; 
    border: 1px solid grey; 
    height: 152px; 
    width: 136px; 
    overflow: hidden; 
    margin-top: 18px; 
    margin-left: 15px; 
}
  .imgfilm { 
    width: 136px; 
}
}

@media only screen and (max-width: 1340px) {
    .element {
        display: flex;
        flex-direction: column;
    }

    .infosmatt {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50vh;
    margin-top: 10px;
    }

    .description {
        margin-right: 0;
    }

    .descriptionmatt {
        width: fit-content;
    }
  }
